html, body{
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 15%, #f2f5f8 50%);
  background: -webkit-linear-gradient(top, #ffffff 15%,#f2f5f8 50%);
  background: linear-gradient(to bottom, #ffffff 15%,#f2f5f8 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f5f8',GradientType=0 );
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  height: 100%;
}
