.container-form{
  padding: 5em;
  margin:auto;
  width: 60%;
  overflow: hidden;
}

.card-heading{
  padding:20px 20px 5px;
  position: relative;
  text-align: center;
  font-size: 3rem;
  width: 100%;
  font-weight: 600;
  opacity: .5;
}

.error-message{
  margin: auto;
  text-align: center;
}

.success-message{
  margin: auto;
  text-align: center;
}

.field-line{
  width: 100%;
  position: relative;
  padding-left: 25%;
  margin: auto;
  /*float: left;*/
}

.field-line input{
  padding: 10%;
  width: 100%;
}

.button-line{
  padding-top: 5%;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
.account-line{
text-align: center;
}
