.post-message-form textarea{
  border:none;
  border:1px solid #d2dde2;
  outline: none;
  background: none;
  width:100%;
  padding: 15px 10px;
  resize: none;
}

.post-message-form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b4c3c8;
  font-size:1.2rem;
}
.post-message-form textarea::-moz-placeholder { /* Firefox 19+ */
  color: #b4c3c8;
  font-size:1.2rem;
}
.post-message-form textarea:-ms-input-placeholder { /* IE 10+ */
  color: #b4c3c8;
  font-size:1.2rem;
}
.post-message-form textarea:-moz-placeholder { /* Firefox 18- */
  color: #b4c3c8;
  font-size:1.2rem;
}
